<article class="tile col-12 col-md-6 col-lg-3">
        <h3>{{title}}</h3>
        <p>{{post_text}}</p>
        <h6>Posted by {{user_id}} on {{created_at}}</h6>
        <button type="submit" id="like-btn">Like</button>
      </article>