<div class="login-form">
  <h3>Login</h3>
  <form class="column">
      <input type="email" placeholder="Email Address" name="email" id="email" class="form-input rounded" />
      <input type="password" placeholder="Password" name="password" id="password" class="form-input rounded" />
      <button type="submit" class="rounded">Login</button>
  </form>
</div>

<script src="/javascript/login.js"></script>