<div class="login-form">
  <h3>Login</h3>
  <form>
      <input type="email" placeholder="Email Address" name="email" id="email" class="form-input" />

      <input type="password" placeholder="Password" name="password" id="password" class="form-input" />

      <button type="submit">
          Login
      </button>
  </form>
</div>