<div class="container-fluid">
  {{#if loggedIn}}
  <section id="new-post" class="center col-12  col-lg-3">
    <div>
      <input type="text" placeholder="What's on your mind" name="post-text" id="post-text"/>
      <button type="submit">Post</button>  
    </div>
  </section>
  {{/if}}  
  
  <section class="center">
    <h3 class="center"> News Feed</h3>
    {{#each posts as |post|}}
    {{> post-info post }}
  {{/each}}
  </section>
</div>

<script src="/javascript/add-post.js"></script>
<script src="/javascript/search.js"></script>