<section class="container-fluid">
  <form id="new-post" class="tile col-12 col-md-6 col-lg-3">
    <div>
      <input type="text" placeholder="Title" name="post-title" />
      <input type="text" placeholder="Post Description" name="post-text" />
    </div>
    <div>
      <button type="submit" id="submit-post-btn">
        Post
      </button>
    </div>
  </form>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post }}
    </li>
    {{/each}}
</section>

<script src="/javascript/add-post.js"></script>
<script src="/javascript/search.js"></script>