<div class="bg-primary text-white container">
  <form id="new-post" class="col-12 col-md-6 col-lg-4">
    <input type="text" placeholder="Title" id="new-title" />
    <input type="text" placeholder="Post Description" id="new-text" />
    <button type="submit" id="submit-post-btn">
        Post
    </button>
</form>
  <article class="col-12 col-md-6 col-lg-4">
    <h3>Foil-Wrapped Fillets</h3>
    <p>This simple but effective method involves cleaning and gutting the fish, stuffing it with herbs and veggies and wrapping it in aluminum foil. Then, place the pouch next to hot coals, flip it often and check it periodically to avoid overcooking your meal</p>
    <h6>Posted by longJohnSilver on 4/25/2022</h6>
  </article>
 </div>