<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 mt-3" id="search-results">
            {{#each posts as |post|}}
            <section>
                {{> post-info post }}
            </section>
            {{/each}}
        </div>
    </div>
</div>