<div class="signup-form">
  <h3>Sign Up</h3>
  <form>
    <input type="email" placeholder="Email Address" name="email" id="email" class="form-input" />

    <input type="email" placeholder="Confirm Email Address" name="email" id="confirmEmail" class="form-input" />

    <input type="password" placeholder="Password" name="password" id="password" class="form-input" />
    
    <input type="password" placeholder="Confirm Password" name="password" id="confirmPassword" class="form-input" />
    
    <input type="text" placeholder="Username" name="username" id="username" class="form-input" />

    <p>
        <input type="checkbox" name="Terms-Confirm" id="checkbox" />
        <label for="checkbox">
            I accept Go Fish's Terms of Use and Privacy Policy. 
        </label>
    </p>
    <button type="submit">
        Submit
    </button>
  </form>
</div>

<script src="/javascript/signup.js"></script>