<div class="signup-form">
  <h3>Sign Up</h3>
  <form class="column">
    <input type="email" placeholder="Email Address" name="email" id="email" class="form-input rounded" />
    <input type="password" placeholder="Password" name="password" id="password" class="form-input rounded" />    
    <input type="password" placeholder="Confirm Password" name="password" id="confirmPassword" class="form-input rounded" />    
    <input type="text" placeholder="Username" name="username" id="username" class="form-input rounded" />
    <button type="submit" class="rounded">Submit</button>
  </form>
</div>

<script src="/javascript/signup.js"></script>